.DS_Store

node_modules
transcripts
testWallets

aztec-crypto-js/bn128/hashToPoint.js

lib/core/metadata.js
lib/core/MetadataBlog.js

website/translated_docs
website/build/
website/yarn.lock
website/node_modules
website/i18n/*
website/blog/*

build/*

bin/*

build/*

out
docs
testWallet*
cupboard_under_the_stairs/*
dbTest.json*
dbRinkeby.json*
dbMainNet.json*
dbDevelopment.json*
test.json
none.json
